---
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  // const servicios = await getCollection("services");
  const descripciones = await getCollection("descripciones");
  const services = await getCollection("services");

  return services.map((service) => ({
    params: {
      id: `${service.slug.split("/").pop()}`, // Agregamos la categoría al ID
    },
    props: { service, descripciones },
  }));
}
const { service, descripciones } = Astro.props;

const servicioSelected = descripciones.filter(
  (element) => service.slug.split("/")[0] === element.slug
);

// const {data} = descripciones

console.log(service);
---

<Layout title="Protec Seguros">
  <main>
    <Header data={servicioSelected[0].data} />
    <div class="categoria">
      <img src={service.data.imagenes[0]} alt="" />
      <div class="content-service">
        <h1 transition:name={service.data.id} class="title">
          {service.data.titulo}
        </h1>
        <p>{service.data.descripcion}</p>
      </div>
    </div>
    <div class="necesito">
      <div class="content-necesito">
        <h1 class="title">¿Lo necesito?</h1>
        <p>{service.data.necesito}</p>
      </div>
      <img src={service.data.imagenes[1]} alt="" />
    </div>
    <div class="cubrimos">
      <h1 class="title">¿Que cubrimos?</h1>


    </div>
  </main>
</Layout>

<style>

  .cubrimos {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 5%;
    background-color: #172052;
    color: white;
  }
  .necesito img{
    width: 30%;
  }
  .content-necesito{
    width: 40%;
    padding-right: 3%;
    border-right: solid 0.4rem #5abeaa;
    height: 300px;
  }
  .necesito {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5% 0%;
    color: #172052;
  }
  .categoria img {
    border-radius: 100%;
    width: 500px;
    height: 500px;
  }
  .content-service {
    width: 40%;
    padding-left: 3%;
    border-left: solid 0.4rem #5abeaa;
  }
  .descripcion-servicio {
    width: 50%;
    text-align: center;
  }
  .categoria {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 5%;
    background-color: #172052;
    color: white;
  }
  .section-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
</style>
