---
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import CarrouselCubrimos from "../../components/CarrouselCubrimos.astro";
import CarouselConjuntoServices from "../../components/CarouselConjuntoServices.astro";
import Footer from "../../components/Footer.astro";
import FooterAzul from "../../components/FooterAzul.astro";

export async function getStaticPaths() {
  // const servicios = await getCollection("services");
  const descripciones = await getCollection("descripciones");
  const services = await getCollection("services");

  return services.map((service) => ({
    params: {
      id: `${service.slug.split("/").pop()}`, // Agregamos la categoría al ID
    },
    props: { service, descripciones },
  }));
}
const { service, descripciones } = Astro.props;

const servicioSelected = descripciones.filter(
  (element) => service.slug.split("/")[0] === element.slug
);

---

<Layout title="Protec Seguros">
  <main>
    <Header data={servicioSelected[0].data} type={service.slug.split("/")[0]} />
    <div class="categoria">
      <img src={service.data.imagenes[0]} alt="" />
      <div class="content-service">
        <h1 transition:name={service.data.id} class="title">
          {service.data.titulo}
        </h1>
        <p class="descripcion">{service.data.descripcion}</p>
        <div class="space-content-contact">
          <a href="/contactanos" class="content-contact">
            <button class="button-contact-more"
              >Contactanos y adquierelo</button
            >
          </a>
        </div>
      </div>
    </div>
    <!-- Carrousel cuando es multiple servicio -->

    {
      service.data.conjuntoServicios ?
      <div id="scroll-anchor" class="espacio" style="height: 150px; visibility: hidden;" > </div>
        <div class="conjunto-servicios">
          <h2 class="">Nuestros servicios</h2>
          <CarouselConjuntoServices data={service.data.conjuntoServicios} />
        </div>:
        <>
            {service.slug.split("/")[0] == "personas"?
                <div class="necesito">
                  <div class="content-necesito">
                    <h1 class="title">¿Por qué contar con este respaldo?</h1>
                    <p class="descripcion">Contar con un seguro es una decisión fundamental en el mundo actual. La vida puede sorprenderte con imprevistos, y estar preparado para afrontarlos es crucial para tu tranquilidad. Este seguro está diseñado para proteger tu bienestar y el de tus seres queridos. Desde la cobertura de tu hogar y bienes personales hasta la salud y responsabilidad civil, cada aspecto está pensado para ofrecerte seguridad. En momentos de crisis, tener un respaldo económico puede marcar la diferencia, permitiéndote recuperarte más rápidamente. Elegir este seguro es un paso proactivo hacia un futuro más seguro y estable, asegurando que tú y tu familia estén protegidos frente a cualquier eventualidad.</p>
                  </div>
                    <img src="../public/familia.png" alt="" />
                </div>
                :
                <div class="necesito">
                  <div class="content-necesito">
                    <h1 class="title">¿Por qué es esencial para tu empresa?</h1>
                    <p class="descripcion">Contar con un seguro es vital para proteger tu negocio en un entorno incierto. Este respaldo te ayuda a enfrentar imprevistos y a mantener la continuidad de tus operaciones. Además, invertir en un seguro demuestra a tus clientes y socios que valoras la seguridad y estabilidad de tu empresa. Con la protección adecuada, podrás concentrarte en hacer crecer tu negocio con confianza y tranquilidad.</p>
                  </div>
                    <img src="../public/enfermeros.png" alt="" />
                </div>
            }
        </>
    }

    {
      service.data.prestaciones && (
        <div class="cubrimos">
          <h1 class="title">¿Que cubrimos?</h1>
          <p class="descripcion">Nos preocupamos por ti. Por eso, te mostramos las coberturas de cada servicio, asegurando que todo lo que importa esté siempre protegido. A continuación, descubre en detalle lo que incluye este servicio.</p>
          <CarrouselCubrimos data={service.data.prestaciones} />
        </div>
      )
    }
    <!-- {
      service.data.usoServicio && (
        <div class="uso-seguro">
          <h1 class="title">¿Como hacer uso de mi seguro</h1>
          <p class="descripcion">
            Hacer una reclamación de seguro implica seguir un proceso específico
            para garantizar que recibas la cobertura adecuada. Aquí te explico
            los pasos generales:
          </p>
          <div class="content-uso-seguro">
            <div class="content-paso">
              <ol>
                {service.data.usoServicio.map((element, index) => (
                  <li class="title-descripcion" id={`paso-${index + 1}`}>
                    {element.paso}
                  </li>
                ))}
              </ol>
            </div>
            <div class="content-absolute-descripcion">
              {service.data.usoServicio.map((element, index) => (
                <div
                  class="content-descripcion"
                  id={`paso-${index + 1}`}
                  style={index != 1 ? "" : "display: none;"}
                >
                  <h2>{element.paso}</h2>
                  <p>{element.descripcion}</p>
                </div>
              ))}
            </div>
          </div>
        </div>
      )
    } -->
      {service.data.conjuntoServicios?
<FooterAzul />
:

<Footer />
      }
  </main>
</Layout>

<script type="text/javascript">
  document.addEventListener("click", function (event) {
    // Verifica si el clic ocurrió en un elemento <li> con la clase 'title-descripcion'
    if (event.target && event.target.classList.contains("title-descripcion")) {
      const clickedElement = event.target;
      const clickedId = clickedElement.id; // ID del elemento que fue clicado

      // Selecciona todos los elementos <li> con la clase 'title-descripcion'
      const allElements = document.querySelectorAll(".content-descripcion");

      // Itera sobre todos los elementos y oculta los que no fueron clicados
      allElements.forEach((element) => {
        if (element.id !== clickedId) {
          element.style.display = "none"; // Oculta otros elementos
        } else {
          element.style.display = "block"; // Muestra el elemento clicado
        }
      });
    }
  });
</script>

<style>
  .space-content-contact{
    margin-top: 5%;
  }
  .button-contact-more {
    font-size: larger;
    color: white;
    border: 0;
    background-color: #5abeaa;
    width: 50%;
    height: 50px;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 10%;
    cursor: pointer;
  }
  .content-necesito {
    width: 50%;
  }
  .cubrimos p{
    text-align: center;
    margin: 2% 0%;
    font-weight: 400;
    width: 50%;
  }
  .conjunto-servicios h2 {
    font-size: 50px;
  }
  .conjunto-servicios {
    margin: 5%;
    margin-top: 0%;
  }
  .content-absolute-descripcion {
    width: 100%;
  }
  .content-paso {
    width: 60%;
  }
  .content-descripcion {
    width: 100%;
    height: 100%;
    text-align: start;
    background-color: #172052;
    border-radius: 30px;
    padding: 5%;
    color: white;
  }
  .title-descripcion {
    font-size: 30px;
    cursor: pointer;
  }
  .uso-seguro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 7%;
  }
  .descripcion {
    font-size: 18px;
  }
  .content-uso-seguro {
    margin-top: 5%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }
  .cubrimos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 2%;
    background-color: #172052;
    color: white;
  }
  .necesito img {
    width: 30%;
  }
  .content-pasos {
    width: 40%;
    padding-right: 3%;
    border-right: solid 0.4rem #5abeaa;
    height: 300px;
  }
  .necesito {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 100%;
    padding: 5% 0%;
    color: #172052;
  }
  .categoria img {
    border-radius: 100%;
    width: 500px;
    height: 500px;
  }
  .content-service {
    width: 40%;
    padding-left: 3%;
    border-left: solid 0.4rem #5abeaa;
  }
  .descripcion-servicio {
    width: 50%;
    text-align: center;
  }
  .categoria {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 5%;
    background-color: #172052;
    color: white;
  }
  .section-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
  @media (max-width: 1024px) {
    .categoria img {
      width: 350px;
      height: 350px;
    }
    .title {
      font-size: 40px;
    }
    .categoria {
      display: flex;
      align-items: center;
    }
  }
  @media (max-width: 768px) {

    .descripcion{
      font-size: 15px; 
    }
    .espacio {
      height: 0% !important;
    }
    .categoria img {
      width: 250px;
      height: 250px;
    }
    .conjunto-servicios h2 {
      font-size: 25px;
    }
    .title {
      font-size: 30px;
    }
    .categoria {
      display: flex;
      align-items: center;
      gap: 50px;
    }
    .button-contact-more {
      font-size: 15px;
    }
  }
  @media (max-width: 468px) {
    .cubrimos p{
      width: 80%;
    }
    .content-necesito{
      width: 80% !important;
    }
    .necesito {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
    .necesito img {
      width: 50%;
    }
    .categoria {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    .content-service,
    .content-necesito {
      text-align: center;
      width: 100%;
      border: none;
    }
    .content-necesito {
      width: 50%;
    }
    .categoria img {
      border-radius: 10%;
      width: 90%;
    }
  }
</style>
