---
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import Carousel from "../../components/Carousel.astro";
import Footer from "../../components/Footer.astro";
import CarouselInicio from "../../components/CarouselInicio.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  // const servicios = await getCollection("services");
  const descripciones = await getCollection("descripciones");

  return descripciones.map((descripcion) => ({
    params: { id: descripcion.slug },
    props: { descripcion }
  }));
}
const { descripcion } = Astro.props;
const { data } = descripcion;
const images = [
  "https://reclamodeterceros.com/wp-content/uploads/2023/04/Sura-Reclamo-de-Terceros-.webp",
  "https://1000marcas.net/wp-content/uploads/2019/12/Logo-Mapfre-tumb.png",
  "https://serviciospluss.com/wp-content/uploads/2022/01/logo-colpatria.png",
  "https://seeklogo.com/images/A/aseguradora-solidario-de-colombia-logo-0285B0DF5D-seeklogo.com.png",
];
---

<Layout title="Welcome to Astro.">
  <main>
    <Header data={data} />
    <div class="nosotros">
      <div class="nosotros-content">
        <h1 class="title">Siempre estamos contigo</h1>
        <p class="description">
          Somos una agencia, encaminada a orientar profesionalmente en el sector
          asegurador a nuestros clientes ofreciendo soluciones que garanticen la
          protección de sus familias y patrimonio; brindando acompañamiento en
          la gestión de sus riesgos, tanto personales como empresariales;
          avaladas por la experiencia de más de 30 años de su fundadora LUZ
          MARINA RODRIGUEZ A.
        </p>
        <div class="content-contact">
          <button class="button-contact-more">Conoce más sobre nosotros</button>
        </div>
      </div>
      <div class="imagenes-carrusel">
        <CarouselInicio data={data.imagenes} />
      </div>
    </div>
    <div class="servicios">
      <h1 class="title">Nuestros servicios</h1>
      <div class="content-services">
        <div class="content-butons">
          {data.servicios.map((element:any, index:number) => (
              <button
                class={index == 0 ? "selected" : ""}
                id={`button-${element.nombre.replace(" ", "-").toLowerCase()}`}
                onclick={`filtroservicios('${element.nombre.replace(" ", "-").toLowerCase()}')`}
              >
                {element.nombre}
              </button>
            ))
          }
        </div>
        {data.servicios.map((servicio:any, index:number) => (
            <div
              style={index == 0 ? "" : "display: none;"}
              id={servicio.nombre.replace(" ", "-").toLowerCase()}
            >
              <Carousel data={servicio.subcategoria} type="servicios" />
            </div>
          ))
        }
      </div>
    </div>
    <div class="aliados">
      <div class="aliados-full">
        <h1 class="title">Nuestros aliados</h1>
        <div class="content-aliados">
          <Carousel data={images} type="aliados" />
        </div>
      </div>
    </div>
    <Footer />

    <script type="text/javascript">
      function filtroservicios(categoria) {
        // Oculta todos los carruseles
        const carruseles = [
          "protec-movilidad",
          "protec-salud",
          "protec-personas",
          "protec-patrimonio",
        ];

        carruseles.forEach((id) => {
          const carrusel = document.getElementById(id);
          if (id === categoria) {
            carrusel.style.transition = "opacity 0.3s linear"; // Añade la transición
            carrusel.style.display = "block";
            carrusel.style.opacity = 0;
            setTimeout(() => {
              carrusel.style.opacity = 1; // Cambia a opacidad 1 para mostrar
              carrusel.style.transition = "opacity 0.3s linear"; // Añade la transición
            }, 10);
          } else {
            // Oculta el carrusel actual
            carrusel.style.opacity = 0; // Comienza a ocultar
            carrusel.style.transition = "opacity 0.3s linear"; // Añade la transición
            // Espera a que termine la transición de opacidad antes de cambiar a display: none
            carrusel.style.display = "none"; // Oculta el carrusel
          }
          // Cambiar el estado de los botones
          const botones = document.querySelectorAll(".content-butons button");
          botones.forEach((b) => b.classList.remove("selected")); // Quita la clase de todos
          const botonSeleccionado = document.getElementById(
            `button-${categoria}`
          );
          botonSeleccionado.classList.add("selected");
        });
      }
    </script>
  </main>


</Layout>
<style>
  .selected {
    color: #5abeaa !important;
    border-bottom: 2px solid #5abeaa !important; /* Añade la línea debajo del botón */
  }
  .content-butons button:hover {
    color: #5abeaa;
  }
  .content-butons button {
    font-size: larger;
    background-color: #5abeaa00;
    border: 0;
    color: #172052;
    width: max-content;
    cursor: pointer;
  }
  .content-butons button:hover {
    color: #5abeaa;
  }

  .content-butons {
    margin: 0% 0% 5% 0%;
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
  }
  .content-services {
    width: 90%;
    margin: 0% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imagenes-carrusel {
    width: 50%;
    height: 100%;
    margin: 0% 5%;
  }
  .nosotros-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
  }
  .card-hover {
    opacity: 0; /* Inicia invisible */
    transform: translateY(20px); /* Inicia desplazado hacia abajo */
    top: 0;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition:
      opacity 0.5s ease,
      transform 0.5s ease; /* Transiciones suaves */
  }

  .service-card:hover .card-hover {
    opacity: 1; /* Se vuelve visible */
    transform: translateY(0); /* Se desliza hacia su posición original */
    background-color: #5abeaa;
    cursor: pointer;
  }

  .service-card:hover {
    background-image: none;
  }
  .content-services-cards {
    display: flex;
    justify-content: center;
  }
  .icon-services {
    background-color: white;
    position: absolute;
    bottom: 85%;
    left: 5%;
    width: min-content;
    height: min-content;
    border-radius: 20%;
  }

  .service-card {
    --opacidad-negro: 0.5;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 10%;
    width: 70%;
    height: 200px;
    border-radius: 5%;
    padding: 5% 10%;
  }

  .button-contact-more {
    font-size: larger;
    color: white;
    border: 0;
    background-color: #5abeaa;
    width: 50%;
    height: 50px;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 10%;
    cursor: pointer;
  }

  .nosotros {
    justify-content: space-between;
    display: flex;
    background-color: #172052;
    color: white;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
  }
  .servicios {
    color: #172052;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0%;
  }
  .aliados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #172052;
    color: white;
    padding: 5% 0%;
    padding-bottom: 10%;
  }
  .content-aliados {
    width: 90%;
    margin-top: 5%;
  }
  .aliados-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .servicios,
  .aliados-full {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 25% cover 35%;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      translate: 0 100px;
      scale: 0.5;
    }
    to {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }

  @media (max-width: 768px) {
    .aliados {
      padding-top: 20%;
      padding-bottom: 20%;
    }
    .imagenes-carrusel {
      width: 80%;
    }
    .service-card p {
      font-size: small;
    }
    .servicios {
      margin-top: 5%;
    }
    .service-card {
      width: 60%;
    }
    .content-services {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    .title {
      font-size: 24px;
    }
    .description {
      font-size: 12px;
    }
    .nosotros {
      flex-direction: column;
      text-align: center;
      padding: 25% 0%;
      justify-content: center;
      align-items: center;
    }
    .nosotros-content {
      width: 80%;
    }
    .button-contact-more {
      font-size: 15px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1240px) {
    .content-services {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .service-card {
      width: 70%;
    }
  }
</style>
